$color_hl = #930821
$color_bg = ghostwhite
$radius = 4px
global-reset()


center()
  bottom 0
  left 0
  margin auto
  overflow auto
  position absolute
  right 0
  top 0


font(sz=small)
  font-family "Lucida Grande", Tahoma, Arial, Verdana, sans-serif
  font-size sz

*:first-child + html
  select.select[class]
    margin 1px 0


#bottom
  display block
  height 10px
  margin 0 auto
  width 650px


#error_message
  background $color_bg
  border 1px dotted $color_hl
  margin-bottom 1em
  padding-left 0
  padding-right 0
  padding-top 4px
  text-align center
  width 99%


#error_message_desc
  color #000
  font-size 100%
  margin 0 0 .8em

  strong
    background-color #FFDFDF
    color $color_hl
    padding 2px 3px


#error_message_title
  color $color_hl
  font-size 125%
  margin 7px 0 5px
  padding 0


#footer
  bottom 10px
  clear both
  color #999
  font-size 85%
  margin 0
  position absolute
  text-align center
  width 100%


#form_container
  background $color_bg
  border-radius $radius
  box-shadow 0 0 200px 2px #000
  center()
  height 450px
  text-align left
  width 420px


#overlay
  background-color rgba(0,0,0,0.9)
  center()
  z-index 1000
  visibility hidden

  img
    center()


#top
  display block
  height 10px
  margin 10px auto 0
  width 650px


a
  border-bottom 1px dotted #999
  color #999
  text-decoration none

  &:hover
    color $color_hl


body
  background-color #1c1d1f
  background-image url(/img/bg.png)
  background-repeat repeat
  font()
  overflow hidden


form
  font()
  margin 20px 20px 0

  #top, #bottom, h1
    display none

  ul
    font-size 100%
    list-style-type none
    margin 0
    padding 0
    width 100%

    li.first
      border-top none !important
      margin-top 0 !important
      padding-top 0 !important

  li
    padding 0.15rem 0

    div
      color #444
      padding 0 0 8px

      &.left
        display inline
        float left
        width 48%

        .medium
          width 100%

      &.right
        display inline
        float right
        width 48%

        .medium
          width 100%

      label
        clear both
        color #444
        display block
        font-size 9px
        line-height 9px
        margin 0
        padding-top 3px

    span
      color #444
      float left
      margin 0 4px 0 0
      padding 0 0 8px

      label
        clear both
        color #444
        display block
        font-size 9px
        line-height 9px
        margin 0
        padding-top 3px

    &.error
      background-color #FFDFDF !important
      border-bottom 1px solid #EACBCC
      border-right 1px solid #EACBCC
      margin 3px 0

      label
        color $color_hl !important

    &.highlighted
      background-color #fff7c0

      .guidelines
        visibility visible

  hr
    display none

  p.error
    clear both
    color $color_hl
    font-size 10px
    font-weight 700
    margin 0 0 5px

  .guidelines
    font(smaller)
    line-height 1.2
    margin -12% 0 0 0
    padding 13px
    position relative
    right -55%
    width 40%

    small
      font-size 105%

  .required
    color $color_hl
    float none
    font-weight 700

  .section_break
    h3
      font-size 110%
      font-weight 400
      line-height 130%
      margin 0 0 2px

    p
      font-size 85%
      margin 0 0 10px


h1
  background-color $color_hl
  color $color_bg
  font(2em)
  margin 0
  padding 10px 20px


img
  behavior url(/img/iepngfix.htc)
  border none


input
  border-radius $radius

  &[type=range]
    range-input($color_hl, 50%, 15px, 2px, $color_hl)

  &.button_text
    click-inset()
    overflow visible

  &.text
    input $color_hl
    margin 0
    padding 3px 0 1px 4px
    width 50%

label
  &.description
    border none
    color #222
    font-size 95%
    font-weight 700
    label block
    line-height 2.2
    padding 0 0 1px

  &.choice
    color #444
    display block
    font-size 100%
    line-height 1.4em
    margin -1.55em 0 0 25px
    padding 4px 0 5px
    width 90%


select
  &.select
    input $color_hl
    padding 2px 0 0 0
    width 51%

span.symbol
  font-size 115%
  line-height 130%


.buttons
  input
    button $color_hl, 'large'
    width 100%


.clear
  clear both
