$color_hl = #930821
$color_bg = ghostwhite
$radius = 4px
global-reset()


center()
  bottom 0
  left 0
  margin auto
  overflow auto
  position absolute
  right 0
  top 0


font(size='smaller')
  font-family "Lucida Grande", Tahoma, Arial, Verdana, sans-serif
  font-size size


::selection
  background $color_hl
  color $color_bg


#footer
  bottom 10px
  clear both
  color #999
  font-size 85%
  margin 0
  position absolute
  text-align center
  width 100%


#form_container
  background $color_bg
  border-radius $radius
  box-shadow 0 0 200px 2px #000
  center()
  height 450px
  text-align left
  width 420px

  h1
    background-color $color_hl
    color $color_bg
    font(1.5em)
    margin 0
    padding 10px 20px


#overlay
  background-color rgba(0,0,0,0.9)
  center()
  z-index 1000
  visibility hidden

  img
    center()


a
  border-bottom 1px dotted #999
  color #999
  text-decoration none

  &:hover
    color $color_hl


body
  background-color #111
  background-image url(/img/bg.png)
  background-repeat repeat
  cursor default
  font()
  overflow hidden


form
  font()
  margin 20px 20px 0

  li
    padding 0.15rem 0

  p
    font(smaller)
    line-height 1.2
    margin -12% 0 0 0
    padding 13px
    position relative
    right -55%
    width 40%

    small
      font-size 85%

  ul
    font-size 100%
    list-style-type none
    margin 0
    padding 0
    width 100%


img
  behavior url(/img/iepngfix.htc)
  border none


input
  border-radius $radius

  &[type=range]
    range-input($color_hl, 50%, 15px, 2px, $color_hl)

  &[type=submit]
    click-inset()
    overflow visible

  &.text
    input $color_hl
    margin 0
    padding 3px 0 1px 4px
    width 50%


label
  border none
  color #222
  font-size 95%
  font-weight 700
  label block
  line-height 1.4
  padding 0 0 1px


nav
  nav 1, $color_hl, $color_bg, true

  a:hover
    color $color_bg !important

  h1
    font(1.5em)
    padding 12px

  ul
    padding 15px 0 13px 0

select
  input $color_hl
  padding 2px 0 0 0
  width 51%


.buttons
  input
    button $color_hl, 'large'
    width 100%
