$color_pri = #AE0026
$color_sec = ghostwhite
$stack_fjalla = 'Fjalla One', sans-serif
$stack_roboto = Roboto, sans-serif


global-reset()


::selection
  background $color_pri
  color $color_sec


#footer
  bottom 10px
  clear both
  color #999
  fs 0.7rem
  margin 0
  position absolute
  text-align center
  width 100%

  a
    link()


#overlay
  background-color rgba(0,0,0,0.9)
  center()
  z-index 1000


body
  background-color #111
  background-image url(/img/bg.png)
  background-repeat repeat
  cursor default
  font(size: 0.9rem)
  overflow hidden


nav
  nav 1, $color_pri, $color_sec, true

  a
    link()

    &:hover
      color $color_sec !important

  h1
    font(size: 1.5em)
    padding 12px

  ul
    padding 15px 0 13px 0


span
  no-select()
