$color_hl = #AE0026
$color_bg = ghostwhite
global-reset()


::selection
  background $color_hl
  color $color_bg


#footer
  bottom 10px
  clear both
  color #999
  font-size 85%
  margin 0
  position absolute
  text-align center
  width 100%

  a
    link()


#overlay
  background-color rgba(0,0,0,0.9)
  center()
  z-index 1000

  img
    center()


body
  background-color #111
  background-image url(/img/bg.png)
  background-repeat repeat
  cursor default
  font()
  overflow hidden


nav
  nav 1, $color_hl, $color_bg, true

  a
    link()

    &:hover
      color $color_bg !important

  h1
    font(1.5em)
    padding 12px

  ul
    padding 15px 0 13px 0
