center(b=0, l=0, m=auto, o=auto, p=absolute, r=0, t=0)
  bottom b
  left l
  margin m
  overflow o
  position p
  right r
  top t


font(stack=$lucida-grande, size='smaller')
  font-family stack
  font-size size


link()
  border-bottom 1px dotted #999
  color #999
  text-decoration none

  &:focus, &:hover
    color $color_pri


rounded()
  border-radius 4px


shadow()
  box-shadow 0 0 200px 2px #000
