center()
  bottom 0
  left 0
  margin auto
  overflow auto
  position absolute
  right 0
  top 0


font(size='smaller')
  font-family "Lucida Grande", Tahoma, Arial, Verdana, sans-serif
  font-size size


link()
  border-bottom 1px dotted #999
  color #999
  text-decoration none

  &:focus, &:hover
    color $color_hl


rounded()
  border-radius 4px


shadow()
  box-shadow 0 0 200px 2px #000
