@require mixins
@require common


#form_container
  background $color_bg
  center()
  height 520px
  rounded()
  shadow()
  text-align left
  width 420px

  h1
    background-color $color_hl
    color $color_bg
    font(1.5em)
    margin 0
    padding 10px 20px


#overlay
  visibility hidden


#reset
  margin-top 1px
  position absolute
  reset-link()
  right 20px


a
  link()


form
  font()
  margin 20px 20px 0

  li
    padding 0.15rem 0

  p
    font(smaller)
    line-height 1.2
    margin -12% 0 0 0
    padding 13px
    position relative
    right -55%
    width 40%

    small
      font-size 85%

  ul
    font-size 100%
    list-style-type none
    margin 0
    padding 0
    width 100%


img
  behavior url(/img/iepngfix.htc)
  border none


input
  rounded()

  &[type=range]
    range-input($color_hl, 50%, 15px, 2px, $color_hl)
    width 51%

  &[type=submit]
    click-inset()
    overflow visible

  &.text
    input $color_hl
    margin 0
    padding 3px 0 1px 4px
    width 50%


label
  border none
  color #222
  font-size 95%
  font-weight 700
  label block
  line-height 1.4
  padding 0 0 1px


select
  input $color_hl
  padding 2px 0 0 0
  width 51%


.buttons
  input
    button $color_hl, 'large'
    width 100%
