@require mixins
@require common


#overlay .status
  center()
  color $color_sec
  display inline-table
  font $stack_fjalla, 6rem
  height 20%
  text-align center
  width 100%


.tabcontrol, .wizard
  display block
  overflow hidden
  width 100%

  > .steps .current-info
    position absolute
    left -999em

  > .content > .title
    position absolute
    left -999em

  a
    outline 0

  ul
    list-style none !important
    margin 0
    padding 0

    > li
      display block
      padding 0


.wizard
  center()
  right 12.5%
  top 22.5%
  width 45rem

  &.vertical
    > .steps
      width 20%

      > ul > li
        width 100%

    > .actions > ul
      width 100%

      > li
        width 50%

  > .actions
    float right
    width 39%

    > ul
      display inline-block
      text-align right

  > .content
    background $color_sec
    display block
    margin 0 0 0.5em 0
    min-height 35em
    overflow hidden
    position relative
    rounded()
    shadow()
    width auto

    > .body
      font $stack_fjalla, 4rem
      float left
      padding 5%
      position absolute
      size 90%

      ul
        list-style disc !important

        > li
          display list-item

      > iframe
        border 0 none
        height 100%
        width 100%

      input
        input $color_pri
        border 1px solid $color_sec
        display block
        font $stack_roboto, 1.1em
        margin-top 1em
        padding 0
        text-align center
        width 100%

        &.error
          background lighten($color_pri, 80%)
          border 1px solid lighten($color_pri, 55%)
          color $color_pri

        &[type="checkbox"]
          display inline-block

        &[type="range"]
          range-input($color_pri, 100%, 20px, 4px, $color_pri)
          margin-top 0.5em

        &[type="search"],
        &[type="text"]
          rounded()

      label
        display inline-block
        margin-top 1em

        &.error
          color $color_pri
          display inline-block
          margin-left 1.5em

      ol
        margin-top 1em

      span
        display block

        &.red
          color $color_pri
          display inline

  > .actions
    a
      &, &:active, &:hover
        display block
        margin 0
        padding 0.5em
        rounded()
        text-decoration none

    li
      &:first-child a
        margin-right 0.25em

      &:not(:first-child) a
        margin-left 0.25em

      &:not(.disabled):last-child a
        background-color orange
        color black

      &:not(.disabled):not(:last-child) a
        background-color $color_pri
        color #fff

      &.disabled a
        &, &:active, &:hover
          background-color lighten($color_pri, 80%) !important
          color black !important

  > .steps
    display block
    position relative
    shadow()
    width 100%

    > ul > li
      width 25%

    a
      &, &:active, &:hover
        display block
        margin 0 0.5em 0.5em 0
        padding 0.5em
        rounded()
        text-decoration none
        width auto

    .current a
      &, &:active, &:hover
        background $color_pri
        color $color_sec
        cursor default

    .disabled a
      &, &:active, &:hover
        background lighten($color_pri, 90%)
        color black
        cursor default

    .done a
      &, &:active, &:hover
        background lighten($color_pri, 80%)
        color black

    .error a
      &, &:active, &:hover
        background $color_pri
        color $color_sec

    .number
      font-weight bold

  > .actions > ul > li,
  > .steps > ul > li
    float left


.tabcontrol
  > .steps
    display block
    position relative
    width 100%

    > ul
      margin 6px 0 0 0
      position relative
      top 1px
      z-index 1

      > li
        border-top-left-radius 5px
        border-top-right-radius 5px
        float left
        margin 5px 2px 0 0
        padding 1px

        &:hover
          background $color_sec
          border 1px solid #bbb
          padding 0

        &.current
          background $color_sec
          border 1px solid #bbb
          border-bottom 0 none
          margin-top 0
          padding 0 0 1px 0

          > a
            padding 15px 30px 10px 30px

        > a
          border 0 none
          color #5f5f5f
          display inline-block
          margin 0
          padding 10px 30px
          text-decoration none

          &:hover
            text-decoration none

  > .content
    border-top 1px solid #bbb
    display inline-block
    height 35em
    overflow hidden
    padding-top 20px
    position relative
    width 100%

    > .body
      float left
      height 95%
      padding 2.5%
      position absolute
      width 95%

      ul
        list-style disc !important

        > li
          display list-item
